<div class="row">
    <div class="col-12 text-center">
        <h3>Cart Items</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of list; index as i">
            
            <th scope="row">{{ i + 1 }}</th>
            <!-- <td>
                {{record.id}}
            </td> -->
            <td>
                {{record.product.name}}
            </td>
            <td>
                <img src="{{host+'/images/'+record.product.image}}" class="img-thumbnail" alt="Product Image">
            </td>
            <td>
               <del> {{record.product.price}} </del> &nbsp; {{getDiscountedPrice(record.product)}}
            </td>
            <td>
                {{record.qty}}
            </td>
            <td>
                <a type="button" class="btn btn-sm btn-danger" (click)="onDelete(record.product)">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-6"></div>
    <div class="col-4"></div>
    <div class="col-2 float-right">
        <b>Total Price : </b>  ₹ {{ getPrice() }}
    </div>
</div>

<div class="row mt-2">
    <div class="col-6"></div>
    <div class="col-4"></div>
    <div class="col-2 float-right">
        <button class="btn btn-primary btn-small float-right" routerLink="/checkout">Checkout</button>
    </div>
</div>
