<h1>About Us</h1>

<div class="row">
    <div class="col-12">
    <p>
        <b>Who we are?</b> <br>
        We are a grocery store. We deliver grocery, vegetables, fruits, Grains on online platform. We work hard to ensure we get you the highest quality product. Our goal is to save you time and money, while keeping the healthiest and most delicious foods on your plate. We deliver different quality products all upon your request to direct customers, restaurants, hotels, cafes, hospitals, schools, universities, nightclubs, sports stadiums and the general catering trade across Maharashtra, India and surrounding areas.
    </p>
    <p>
        <b>Customer First</b> <br>
        Basis of our business is focused on the customer needs, preferences and ultimately customer satisfaction. Our Store wants its customers to spend their quality time with their loved ones instead of finding those preferred Indian food items which give them a sense of satisfaction, joy and softly makes them remember “the home back there”. Selection of web-portal platform, items, pricing strategy, and terms and conditions have been thought through keeping our customer-first in mind.
    </p>
    <p>
        <b>Transparency and Trust</b><br>
        Any successful relation is built upon trust, and when it comes to business, trust and transparency become the two most important pillars of any sustainable business model. Our Store wants to ensure you that you get a correct and fully updated information about the items and prices on the storefront and any item you are sent is individually checked for expiry date so that you get the best value of your money. Our Store stands for its most respect towards a healthy, trustworthy and a sustainable relation with its customers.
    </p>
    <p>
        <b>Quality</b><br>
        Quality is Our Store’s bread and butter. Every aspect including supply of very high quality ingredients, prompt delivery service, simple and easy to navigate web-portal, safe and convenient payment methods are only a few key examples Our Store dedicates its efforts towards.
    </p>
    <p>
        <b>Better packaging</b><br>
        We built custom software that knows the size, shape, and location of every item in every order. So as food arrives from the producer company, we can check (and double-check) it, pack it faster, and get it to you in one piece, protected by unique packaging designed to keep all products as it is. Quality should never be a question. We pioneered the short supply chain so you can experience fresh food at its finest. Food comes to us straight from the source and is delivered to your door at peak freshness in just a few hours. That's less handling by middlemen.
    </p>
    <p>
        <b>Our Vision</b><br>
        We look forward to being the pioneer online market for grocery shopping. We want every Indian to have fresh and finest quality of the product. Not only this, we also want to make all sorts of vegetables available to them including local and international food by next few months. Our Store looks forward to reach every home in every city with quality food products to provide better customer experience with the highest level of service.
    </p>
    <p>
        <b>Our Mission and Purpose</b><br>
        Our sole purpose is to serve as a fair and efficient platform to connect direct producers with the urban customers, thereby providing the producers fair price for their produce and our customers get customers at best price. Our Mission is to create a WIN-WIN Eco-system for both- producers & Customers and bring the culture of eating quality produce to each and every household in india.
    </p>
</div>
</div>
